# Example Environment Configuration For GitTracker Bot

TELEGRAM_TOKEN=Your-Telegram-Bot-Token
GITHUB_CLIENT_ID=Your-Github-Client-Id
GITHUB_CLIENT_SECRET=Your-Github-Client-Secret
GITHUB_WEBHOOK_SECRET=Your-Github-Webhook-Secret

WEBHOOK_URL=https://github.bot.durgaaisolutions.in
DOMAIN=github.bot.durgaaisolutions.in

SERVER_HOST=0.0.0.0
SERVER_PORT=5000
DEBUG=False

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=Tracer_Bot
DB_USER=root
DB_PASSWORD=
LOG_LEVEL=INFO